MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=<app-name>
BETTER_AUTH_SECRET=<your-better-auth-secret>
BETTER_AUTH_URL=http://localhost:3000
PUBLIC_API_BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4321
CORS_ORIGIN=http://localhost:4321
